<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shift-care</title>
  <link href="/output.css" rel="stylesheet">
  <style>
    .test-border {
      border: 2px solid red;
    }
  </style>
</head>
<body class="font-mono">
  <header class="fixed top-0 left-0 w-full bg-white border-b-1 border-y-gray shadow-sm z-50 ">
    <nav class="flex justify-between mx-auto container items-center">
      <div><a href=""><img class="" src="images/care-shift.jpg" alt="" height="50px" width="190px"></a></div>
      <div class="">
        <a class="btn btn-primary rounded-sm text-black bg-white hover:text-white mr-2 px-8" href="">ログイン</a>
        <a class="btn btn-primary rounded-sm text-white hover:bg-white hover:text-blue px-8" href="">新規登録</a>
      </div>
    </nav>
  </header>
</body>
</html>