<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shift-care</title>
  <link href="/output.css" rel="stylesheet">
  <style>
    .test-border {
      border: 2px solid red;}
  </style>
</head>
<body class="font-mono">
  <header class="fixed top-0 left-0 w-full bg-white border-b-1 border-y-gray shadow-sm z-50 ">
    <nav class="flex justify-between mx-auto container items-center">
      <div><a href=""><img class="" src="images/care-shift.jpg" alt="" width="170px"></a></div>
      <div class="">
        <a class="btn btn-primary rounded-sm text-black bg-white hover:text-white mr-2 px-8" href="">ログイン</a>
        <a class="btn btn-primary rounded-sm text-white hover:bg-white hover:text-blue px-8" href="">新規登録</a>
      </div>
    </nav>
  </header>
  <main class="">
    <div class="relative">
      <div class="relative">
        <img class="w-full object-cover" src="images/worker2.jpeg" alt="">
        <div class="absolute inset-0 bg-blue opacity-30 z-10"></div>
      </div>
      <div class="absolute top-0 w-full h-full flex items-center justify-center pt-4 z-20">
        <div class="absolute text-center ">
          <h1 class="text-4xl font-thin tracking-wider text-white">シフト作成を自動化</h1>
          <p class="text-white text-8xl font-reddit font-extrabold py-16">Care shift</p>
          <a class="btn btn-primary rounded-sm text-white text-base px-10 hover:bg-blue-focus hover:underline tracking-wider" href="">今すぐ登録</a>
        </div>
      </div>
    </div>
  </main>
  
</body>
</html>